.skills{
  box-shadow: inset 0px -15px 9px rgba(0, 0, 0, 0.137);
    width: 100%;
    background-image: linear-gradient(to left top, #ffd700, #ff874d, #c75872, #6b456a, #282a35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 43px 0 100px 0;
}
.whitify{
  color: #fff;
}
.skills h3 {
    padding: 0 30px;
    margin-bottom: 40px;
    align-self: flex-start;
    letter-spacing: -2px;
    font-size: 40px;
    color: #ee82c3;
    font-weight: 400;
    background-color: #ffffff;
    filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.356));
  }
  .skillsCard{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }